// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body {
  background: #f2f2f2;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin:0;
  padding:0;
  height:100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}
h1, h2, a {
  font-family: 'Oswald', sans-serif; text-transform: uppercase;
}

.container {
  margin: 0 auto;
}

.header {
  background: #000 none repeat scroll 0% 0%;
  min-height: 80px;
}

/* Menu */
.menu {
  background: #152230 none repeat scroll 0% 0%;
  min-height: 40px;
}

.menu ul.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #152230;
  border-style: none;
  border-radius: 0px;
}

.menu ul.nav li {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 20px;
  text-align: center;
  float: right;
}

.menu ul.nav li .ddown {
  padding: 10px 33px 10px 33px;
  text-align: center;
  width:100%;
}


.menu ul.nav li:hover, .menu ul.nav li.active, .menu ul.nav li.dropdown {
  background: #1a77ff;
}

.menu ul.nav li a {
  color: #fff;
  margin: 0;
  padding: 0;
}

.menu ul.nav li a:hover {
  background: transparent;
}

/* Main */
.main {
  text-align: center;
  background: transparent url("foosball-video-picture.jpg") no-repeat scroll center center / cover;
  height: 600px;
}

.main .container {
  position: relative;
  top: 70px;
}

.main h1 {
  color: #fff;
  margin: 0;
  font-size: 100px;
}

.main p {
  color: #fff;
  margin: 0 0 40px 0;
  font-size: 18px;
}

/* Buttons */


.main .btn, .login .btn-submit, .index .btn-submit,  {
  background-color: #1a77ff;
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
  border-radius: 0px;
}

.main .btn:hover, .login .btn-submit:hover, .index .btn-submit:hover {
  background: #204D74 none repeat scroll 0% 0%;
  cursor: pointer;
  transition: background 0.5s ease 0s;
}

.btn-submit {
  border: none;
  font-family: "Oswald",sans-serif;
  text-transform: uppercase;
  float: left;
}

.login .btn-submit {
  margin: 15px 20px 150px 0px;
}

.index .btn-submit {
  margin: -100px 0px 150px 0px;
}

/* Supporting */
.supporting {
  //background-color: #1a77ff;
  text-align: center;
  padding: 50px 0px 150px;
}

.supporting .col {
  float: left;
  width: 32%;
  padding: 10px;
}

.supporting h2 {
  color: #1a77ff; /*152230*/
  font-size: 40px;
  margin-bottom: 10px;
}

.supporting p {
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 13px;
}

/* Footer */
.footer {
  position:absolute;
  bottom:0;
  width:100%;
  background: #000 none repeat scroll 0% 0%;
  padding: 30px 0px;
  //margin: 0px;
}



.footer ul {
  float: left;
  list-style: outside none none;
  margin: 0px;
  padding: 0px;
}

.footer ul li {
  color: #fff;
  display: inline;
  margin: 0px 40px 0px 0px;
}

.footer p {
  color: #e2e2e2;
  float: right;
}

/* Login */
form input.form-control {
    border: 0px none;
    border-radius: 0px;
}

input[type="file"] {
    display: block;
}

.login h1, .index h1, .statistics h1 {
  margin: 50px 0 40px 0;
  text-align: center;
}

.form-group {
  margin-bottom: 25px;
}

/* Table */
.table-responsive {
  margin-bottom: 150px;
}
th, td {
  padding: 12px 25px;
  text-align: center;
  font-size: 14px;
}


th {
  font-family: 'Oswald', sans-serif; text-transform: uppercase;
  color: #1A77FF;
}

//.index th, .show .row th{
  //border-bottom: 7px solid #1A77FF;
  //font-family: 'Oswald', sans-serif; text-transform: uppercase;
//}

//.index td {
  //background: #fff none repeat scroll 0% 0%;
//}

//.index th {
  //color: #fff;
  //font-family: 'Oswald', sans-serif; text-transform: uppercase;
  //background: #152230 none repeat scroll 0% 0%;
//}

.show .row th {
  font-family: 'Oswald', sans-serif; text-transform: uppercase;
}


.index .box, .index tr {
  margin-bottom: 25px;
}

.box td a {
  display: block;
  height: 24px;
  width: 24px;
}

.box .icon {
  padding: 12px 0px;
}
 
.edit {
  background-image: url("edit45.png");
  background-position: center center;
} 

.delete {
  background-image: url("symbol5.png");
  background-position: center center;
} 

/* Show */

.show .row {
  margin: 50px 0px 50px;
  background: #FFF none repeat scroll 0% 0%;
}


.show .row .col-md-4 {
  background: #152230 none repeat scroll 0% 0%;
  padding: 20px 40px 40px;
  color: #fff;

}
.show .row .col-md-9 {
  padding: 20px 40px 40px;
  height: 400px;
  //text-align: center;
}

.show .row .col-md-3 {
  background: #f2f2f2 ;
}

.show img {
  margin-top: -20px;
}

.show img.gravatar {
  float: left;
  margin: 20px;
}

.show .row h1 {
  //padding: 20px 30px 50px 0;
  margin: 60px 20px 50px 50px;
  padding-bottom: 30px;
  display: inline-block;
}

.show .row ul li {
  list-style-type:none;
  font-family: 'Oswald', sans-serif; text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.show .row ul li span {
  color: #1A77FF;
  font-size: 50px;
}

.table th .current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}
.table th .asc {
  background-image: url("up_arrow1.png");
}

.table th .desc {
  background-image: url("down_arrow1.png");
}

.message {
  color: red;
  padding: 10px 5px;
  float: right;
}


select, #match_player1_goals, #match_player2_goals {
  margin: 0;
  border: 1px solid transparent;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;

}
select:focus, #match_player1_goals:focus, #match_player2_goals:focus {
  outline:none;
  box-shadow: 0 0 1px 3px rgba(180,222,250, 1);
  color: #222;
  background-color: #fff;
}

.col-md-6 {
  float:left;
}

#player_role {
  box-shadow: none;
  width: 34px;
}


