// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body {
  background: #f2f2f2;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1, h2, a {
  font-family: 'Oswald', sans-serif; text-transform: uppercase;
}

.container {
  margin: 0 auto;
}

.header {
  background: #000 none repeat scroll 0% 0%;
  min-height: 80px;
}

/* Menu */
.menu {
  background: #152230 none repeat scroll 0% 0%;
  min-height: 40px;
}

.menu ul.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul.nav li {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 20px;
  text-align: center;
  float: right;
}

.menu ul.nav li:hover, .menu ul.nav li.active {
  background: #1a77ff;
}

.menu ul.nav li a {
  color: #fff;
  margin: 0;
  padding: 0;
}

.menu ul.nav li a:hover {
  background: transparent;
}

/* Main */
.main {
  text-align: center;
  background: transparent url("foosball-video-picture.jpg") no-repeat scroll center center / cover;
  height: 600px;
}

.main .container {
  position: relative;
  top: 70px;
}

.main h1 {
  color: #fff;
  margin: 0;
  font-size: 100px;
}

.main p {
  color: #fff;
  margin: 0 0 40px 0;
  font-size: 18px;
}

/* Buttons */


.main .btn, .login .btn-submit, .index .btn-submit {
  background-color: #1a77ff;
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
  border-radius: 0px;
}

.main .btn:hover, .login .btn-submit:hover, .index .btn-submit:hover {
  background: #204D74 none repeat scroll 0% 0%;
  cursor: pointer;
  transition: background 0.5s ease 0s;
}

.login .btn-submit, .index .btn-submit {
  border: none;
  margin: 15px 20px 60px 0px;
  font-family: "Oswald",sans-serif;
  text-transform: uppercase;
  float: left;
}

/* Supporting */
.supporting {
  background-color: #177ff; 
  text-align: center;
  padding: 50px 0px 80px;
}

.supporting .col {
  float: left;
  width: 32%;
  padding: 10px;
}

.supporting h2 {
  color: #1a77ff; /*152230*/
  font-size: 40px;
  margin-bottom: 10px;
}

.supporting p {
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 13px;
}

/* Footer */
.footer {
  background: #000 none repeat scroll 0% 0%;
  padding: 40px 0px;
  margin: 0px;
}

.footer ul {
  float: left;
  list-style: outside none none;
  margin: 0px;
  padding: 0px;
}

.footer ul li {
  color: #fff;
  display: inline;
  margin: 0px 40px 0px 0px;
}

.footer p {
  color: #e2e2e2;
  float: right;
}

/* Login */
form input.form-control {
    border: 0px none;
    border-radius: 0px;
}

input[type="file"] {
    display: block;
}

.login h1, .index h1 {
  margin: 50px 0 40px 0;
  text-align: center;
}

.form-group {
  margin-bottom: 25px;
}

/* Table */

.index th, .show .row th{
  border-bottom: 7px solid #1A77FF;
}

.index td {
  background: #fff none repeat scroll 0% 0%;
}

.index th, .index td {
  padding: 12px 25px;
  text-align: center;
  font-size: 14px;
}

.index th {
  color: #fff;
  font-family: 'Oswald', sans-serif; text-transform: uppercase;
  background: #152230 none repeat scroll 0% 0%;
}

.show .row th {
  font-family: 'Oswald', sans-serif; text-transform: uppercase;
}


.index .box, .index tr {
  margin-bottom: 25px;
}

.box td a {
  display: block;
  height: 24px;
  width: 24px;
}

.box .icon {
  padding: 12px 0px;
}
 
.edit {
  background-image: url("edit45.png");
  background-position: center center;
} 

.delete {
  background-image: url("symbol5.png");
  background-position: center center;
} 

/* Show */

.show .row {
  margin: 50px 0px 50px;
  display: flex;
}

.show .row .col-md-9 {
  background: #FFF none repeat scroll 0% 0%;
  padding: 20px 40px 40px;
  height: 400px;
  flex: 1;
}

.show .row .col-md-4 {
  background: #152230 none repeat scroll 0% 0%;
  padding: 20px 40px 40px;
  color: #fff;
}

.show .row img {
  float: left;
  padding: 20px 30px 50px 0;
}

.show .row h1 {
  padding: 20px 30px 50px 0;
}

.show .row ul li {
  list-style-type:none;
  font-family: 'Oswald', sans-serif; text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.show .row ul li span {
  color: #1A77FF;
  font-size: 50px;
}

.table th .current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}
.table th .asc {
  background-image: url("up_arrow1.png");
}

.table th .desc {
  background-image: url("down_arrow1.png");
}

.message {
  color: red;
  padding: 10px 5px;
  float: right;
}


